# dependencies
/node_modules

# testing
/coverage
/reports

# misc
**/*.pem
/llm

# production
/build

# local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
package-lock.json
**/*.bun

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json