name: Build Docker images

on:
  push:
    branches: ["main"]

jobs:
  build-and-push-dockerfile-image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Compute tags
        id: vars
        run: |
          echo "TAG_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "TAG_TIME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/asesmen-backend:${{ steps.vars.outputs.TAG_TIME }}
            ${{ secrets.DOCKERHUB_USERNAME }}/asesmen-backend:${{ steps.vars.outputs.TAG_SHORT }}
            ${{ secrets.DOCKERHUB_USERNAME }}/asesmen-backend:latest
          platforms: linux/amd64
